.shared-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.shared-content {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.homeLink {
    position: absolute;
    top: 4%;
    left: 2%;
}

.title {
    border-radius: 5px;
    border-style: dashed;
    justify-self: center;
    white-space: nowrap;
    animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
    0%, 100% {
        padding: 5px 25px;
        border-radius: 5px;
    }
    50% {
        padding: 5px 115px;
        border-radius: 500px;
    }
}