.footerBackground{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.voiceOutFooter{
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5px 5px;
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0%, 100% {
        color: white;
        background-color: black;
    }
    50% {
        color: black;
        background-color: white;
    }
}